@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}

img {
  display: block;
}

.container {
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* Сховати*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}

.header {
  background: #ffffff;
  display: flex;
}

@media screen and (min-width: 480px) {
  .header {
    width: 480px;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    height: 80px;
    padding: 0;
    position: static;
    align-items: center;
    padding: 21px 6px;
  }
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero1mob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero2mob.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero1tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero2tab.jpg);
  }
}

.hero__header {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto;
  width: 360px;
}

.navigation__mobile li {
  padding-bottom: 32px;
  text-align: left;
}

.navigation__contact {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.navigation__contact:hover, .navigation__contact:focus {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: contents;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 84px;
  }
}

.contact__tm {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__tm:hover, .contact__tm:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact__tm:hover svg,
.contact__tm:focus svg {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact__mail {
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: var(--primary-text-color);
}

.contact__tel {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: var(--primary-text-color);
}

.menu-social {
  display: flex;
  margin-top: 32px;
}

.menu-social li:not(:last-child) {
  padding-right: 20px;
}

.menu-social li:not(:first-child)::before {
  content: "";
  margin-right: 15px;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-social__li {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile {
  margin-top: 302px;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.menu-button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 2;
}

.menu-button:hover svg,
.menu-button:focus svg {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__close {
  display: none;
}

.menu-button.is-open .menu-button__close {
  display: block;
}

.menu-button.is-open .menu-button__open {
  display: none;
}

.hero__button {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.portfolio-btn {
  display: flex;
  margin-bottom: 50px;
  justify-content: left;
  flex-wrap: wrap;
}

.portfolio-btn li:not(:last-child) {
  margin-right: 8px;
}

.btn-portfolio {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  margin-bottom: 15px;
  transition-property: color, background-color, box-shadow, border-radius, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover, .btn-portfolio:focus {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 0px;
}

.btn-portfolio.current {
  color: #ffffff;
  background: var(--accent-color);
}

.modal-btn {
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover svg,
.modal-btn:focus svg {
  fill: var(--accent-color);
}

.modal-img {
  width: 11px;
  height: 11px;
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-img:hover, .modal-img:focus {
  fill: var(--accent-color);
}

.button-send {
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}

.footer-bm {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  display: flex;
  color: #ffffff;
  padding: 0;
  padding-left: 29px;
}

@media screen and (min-width: 480px) {
  .navigation {
    display: block;
    position: fixed;
    z-index: 1;
    min-width: 480px;
    min-height: 796px;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    right: 0;
    left: 0;
    top: 0;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    position: static;
    padding: 0px;
  }
  .navigation ul:first-child {
    padding-bottom: 0px;
  }
}

.is-open ~ .navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .is-open ~ .navigation {
    display: contents;
  }
}

@media screen and (min-width: 768px) {
  .is-open {
    display: none;
  }
}

.navigation__li {
  display: flex;
  padding-bottom: 0px;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .navigation__li {
    display: contents;
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .navigation__list {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    font-style: normal;
    text-decoration: none;
    margin: 0px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__list:hover, .navigation__list:focus {
    color: var(--accent-color);
  }
}

.navigation__list.current {
  color: var(--accent-color);
  position: relative;
}

.navigation__list.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 44px;
  background: var(--accent-color);
  border-radius: 2px;
}

@media screen and (min-width: 480px) {
  .navigation__list.current::after {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list.current::after {
    display: contents;
    height: 4px;
  }
}

@media screen and (min-width: 480px) {
  .navigation__li li:first-child {
    padding-bottom: 35px;
  }
  .navigation__li li:last-child {
    padding-top: 32px;
  }
  .navigation__li li:not(:last-child) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__li li:first-child {
    padding-bottom: 0px;
  }
  .navigation__li li:last-child {
    padding-top: 0px;
  }
  .navigation__li li:not(:last-child) {
    margin-right: 50px;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .benefits-container {
    width: 450px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .benefits-container {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
  .benefits-container li {
    width: 354px;
  }
  .benefits-container li:nth-child(2n) {
    margin-left: 30px;
  }
}

.benefits__icon-background {
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.benefits__andr-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: left;
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
  padding-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .our-team {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }
}

.taam_li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .taam_li:nth-child(2n) {
    margin-left: 30px;
  }
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
  text-align: center;
}

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .team__img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
  }
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.team-text {
  background: #ffffff;
}

.team-icon {
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover, .social-icon:focus {
  background-color: var(--accent-color);
  outline: none;
}

.social-icon:hover svg,
.social-icon:focus svg {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.social {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .social {
    margin-top: 16px;
    margin-left: 122px;
    margin-right: 122px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .social {
    margin-top: 16px;
    margin-left: 74px;
    margin-right: 74px;
    padding-bottom: 24px;
  }
}

.social li {
  box-shadow: none;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
}

.our-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .our-clients {
    width: 480px;
  }
  .our-clients li:nth-child(2n) {
    margin-left: 30px;
  }
  .our-clients li {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-clients {
    width: 768px;
  }
  .our-clients li {
    margin-left: 30px;
  }
}

.clients-icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  display: block;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cln-icon {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 52px;
  display: block;
  transition-property: fill, border, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cln-icon:hover, .cln-icon:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  outline: none;
}

.cln-icon:hover svg,
.cln-icon:focus svg {
  fill: var(--accent-color);
}

.border {
  border: 1px solid #ececec;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.adress {
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress:hover, .adress:focus {
  color: var(--accent-color);
}

.adres-pading {
  padding-top: 20px;
}

.footer-list {
  padding-top: 8px;
}

.info-footer {
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-footer:hover, .info-footer:focus {
  color: var(--accent-color);
}

.ftr-social {
  display: flex;
  justify-content: center;
}

.ftr-social li:not(:first-child) {
  margin-left: 10px;
}

.footer-social {
  margin-top: 60px;
  margin-bottom: 60px;
}

.ftr-icon {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  border: 1px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-icon:hover, .ftr-icon:focus {
  background: #2196f3;
  outline: none;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-icon:hover, .footer-icon:focus {
  background: #2196f3;
}

.mail-list {
  text-align: center;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mail-ist {
  height: 24px;
  width: 24px;
}

.mail-flex {
  display: block;
  text-align: center;
}

.mail-flex button {
  margin-left: auto;
  margin-right: auto;
}

.project li {
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 450px;
}

.name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.card-project {
  position: relative;
  overflow: hidden;
}

.card-project:hover .text-project {
  transform: translateY(-100%);
  opacity: 1;
}

.card-project img {
  width: 450px;
}

.text-project {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 77px 24px;
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proff-card {
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-border:hover,
.project-border:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vw;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  width: 450px;
  min-height: 609px;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  width: 370px;
  margin-bottom: 12px;
}

.modal-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  padding-bottom: 4px;
}

.modal-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 370px;
}

.modal-nav textarea {
  width: 370px;
  resize: none;
  padding: 12px 16px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-nav label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  width: 370px;
}

.modal-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  margin-bottom: 10px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-send {
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.check-input {
  outline: none;
  border-color: #ffffff;
}

.check-input:checked + .check-after {
  opacity: 1;
  transform: translateY(-20px);
}

.send-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 9px;
}

.send-label a {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.check-bifor {
  position: absolute;
  background-color: #ffffff;
  opacity: 1;
}

.check-after {
  position: absolute;
  top: 20px;
  fill: var(--accent-color);
  opacity: 0;
}

.modal-div {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */