.header {
  background: #ffffff;
  display: flex;
  @media screen and (min-width: 480px) {
    width: 480px;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0;
    position: static;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
