.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-container {
  display: flex;
  & li:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__text {
  width: 270px;
  @include font($fw: 400, $fs: 14px, $lh: 1.71, $ls: 0.03em);
}
.benefits__andr-head {
  padding-bottom: 10px;
  text-transform: uppercase;
  color: var(--title-text-color);
}
