button {
  cursor: pointer;
  padding: 6px 22px;
}

.button {
  font-family: inherit;
  cursor: pointer;
  @include font($fw: 700, $fs: 16px, $lh: 1.88, $ls: 0.06em);
  color: #ffffff;
  background: var(--accent-color);
  margin-top: 30px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 0px;

  padding: 10px 32px;
}

.portfolio-btn {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;

  & li:not(:last-child) {
    margin-right: 8px;
  }
}

.btn-portfolio {
  font-family: inherit;
  cursor: pointer;
  @include font($fw: 500, $fs: 16px, $lh: 1.62, $ls: 0.03em);
  text-align: center;
  color: var(--title-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;

  transition-property: color, background-color, box-shadow, border-radius,
    border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 0px;
  }
}

.btn-portfolio.current {
  color: #ffffff;
  background: var(--accent-color);
}

.footer-bm {
  width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  @include font($fw: 700, $fs: 16px, $lh: 1.88, $ls: 0.06em);

  align-items: center;
  text-align: center;
  display: flex;
  color: #ffffff;
  padding: 0;
  padding-left: 29px;
}

.modal-btn {
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover svg,
  &:focus svg {
    fill: var(--accent-color);
  }
}
.modal-img {
  width: 11px;
  height: 11px;
  fill: #000000;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.button-send {
  width: 200px;
  height: 50px;

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  @include font($fw: 700, $fs: 16px, $lh: 1.88, $ls: 0.06em);
  align-items: center;
  text-align: center;
  color: #ffffff;

  margin-top: 30px;
}
