.menu-button {
  border: none;
  background-color: transparent;

  &:hover svg,
  &:focus svg {
    fill: var(--accent-color);
  }
}
.menu-button__close {
  display: none;
}
.menu-button.is-open .menu-button__close {
  display: block;
}
.menu-button.is-open .menu-button__open {
  display: none;
}
