.menu-button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 1;

  &:hover svg,
  &:focus svg {
    fill: var(--accent-color);
  }
}
.menu-button__close {
  display: none;
}
.menu-button.is-open .menu-button__close {
  display: block;
}
.menu-button.is-open .menu-button__open {
  display: none;
}
