.navigation__mobile li {
  padding-bottom: 32px;
}
.navigation__contact {
  font-style: normal;
  @include font($fw: 500, $fs: 24px, $lh: 1.17, $ls: 0.02em);
  color: var(--primary-text-color);
  text-decoration: none;

  &:hover,
  &:focus {
    @include font($fw: 500, $fs: 34px, $lh: 1.18, $ls: 0.02em);
    font-style: normal;
    color: var(--accent-color);
  }
}

.contact {
  @media screen and (min-width: 480px) {
    display: none;
  }
}
.menu-social {
  display: flex;
  & li:not(:last-child) {
    padding-right: 20px;
  }

  & li:not(:first-child)::before {
    content: "";
    margin-right: 15px;
    width: 22px;
    height: 0px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
.menu-social__li {
  text-decoration: none;
  @include font($fw: 500, $fs: 18px, $lh: 1.22, $ls: 0.02em);
  color: var(--accent-color);
}
