.navigation__mobile li {
  padding-bottom: 32px;
  text-align: left;
}
.navigation__contact {
  font-style: normal;
  @include font($fw: 500, $fs: 24px, $lh: 1.17, $ls: 0.02em);
  color: var(--primary-text-color);
  text-decoration: none;

  &:hover,
  &:focus {
    @include font($fw: 500, $fs: 34px, $lh: 1.18, $ls: 0.02em);
    font-style: normal;
    color: var(--accent-color);
  }
}

.contact {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: contents;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 84px;
  }
}
.contact__tm {
  text-decoration: none;
  list-style: none;
  @include font($fw: 500, $fs: 14px, $lh: 1.14, $ls: 0.02em);
  color: var(--primary-text-color);

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  &:hover svg,
  &:focus svg {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.contact__mail {
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: var(--primary-text-color);
}
.contact__tel {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: var(--primary-text-color);
}
.menu-social {
  display: flex;
  margin-top: 32px;
  & li:not(:last-child) {
    padding-right: 20px;
  }

  & li:not(:first-child)::before {
    content: "";
    margin-right: 15px;
    width: 22px;
    height: 0px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
.menu-social__li {
  text-decoration: none;
  @include font($fw: 500, $fs: 18px, $lh: 1.22, $ls: 0.02em);
  color: var(--accent-color);
}

.mobile {
  margin-top: 302px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
