.logo {
  text-decoration: none;
  font-family: Raleway;
  @include font($fw: 700, $fs: 26px, $lh: 1.19, $ls: 0.03em);
  color: var(--accent-color);
  margin-right: 9;
  margin-right: 93px;
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}
