.navigation {
  @media screen and (min-width: 480px) {
    display: block;
    position: absolute;
    z-index: 1;

    min-width: 480px;
    min-height: 796px;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    right: 0;
    left: 0;
    top: 0;

    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 768px) {
    position: static;
    padding: 0px;
    & ul:first-child {
      padding-bottom: 0px;
    }
  }
}
.is-open ~ .navigation {
  display: none;

  @media screen and (min-width: 768px) {
    display: contents;
  }
}
.is-open {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.navigation__li {
  @media screen and (min-width: 480px) {
    display: contents;
    text-align: left;
  }
  display: flex;
  padding-bottom: 0px;
  align-items: center;
}
.navigation__list {
  @media screen and (min-width: 480px) {
    @include font($fw: 500, $fs: 40px, $lh: 1.18, $ls: 0.02em);
    color: var(--title-text-color);
    font-style: normal;
    text-decoration: none;
    margin: 0px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    @include font($fw: 500, $fs: 14px, $lh: 1, $ls: 0.02em);
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.navigation__list.current {
  color: var(--accent-color);
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: 44px;
    background: var(--accent-color);
    border-radius: 2px;
    @media screen and (min-width: 480px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: contents;
      display: block;
      height: 4px;
      color: var(--accent-color);
    }
  }
}

.navigation__li {
  @media screen and (min-width: 480px) {
    & li:first-child {
      padding-bottom: 35px;
    }
    & li:last-child {
      padding-top: 32px;
    }
    & li:not(:last-child) {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    & li:first-child {
      padding-bottom: 0px;
    }
    & li:last-child {
      padding-top: 0px;
    }
    & li:not(:last-child) {
      margin-right: 50px;
    }
  }
}
